/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color:#000;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author: HOTUS
   Website: Hot Tools - NexGen

   ========================================================================== */
.wrap {
    margin: 0 auto;
    width:1200px;
    background-color:white;
}
#header {
    padding-top:12px;
    float:left;
    background-color:#000;
    margin:0 auto;
    width:1200px;
    height:60px;
    margin-top:-16px;
    position:fixed;
    z-index:50;
}
.logo {
    float:left;
    width:160px;
    padding-top:10px;
}
#img-logo {

}


.nav-container{
    width:1000px;
    padding-top:10px;
}

/* intro div */

.intro{
background: #000 url('../img/intro-model.jpg') left center no-repeat; 
color:white;

}

.intro-container{
    position: absolute;
    top: 130px;
    left: 780px;
    z-index: 0;
    width: 223px;
    height: 289px;
}
.intro-container h3 {
    text-align:center;
    font-size: 28px;
    font-weight: 100;
    line-height: 1.0;
}
.intro-container p {
    text-align:justify;
}
.img-logo2 {  
text-align:center;  
}
.down-arrow {
    text-align:center;
}
.box {
  float: left;
  width: 30%;
  height: 100px;
  background-color: grey;
  margin-right: 1%;
  margin-bottom: 1%;
  position: relative;
} 

/***/
.bg2{
background: #000 url('../img/bg-journey1-2.png') center center no-repeat; 
color:white;
z-index:0;
position:relative;
}
.bg3{
background: #000 url('../img/bg-journey1-2.png') center center no-repeat; 
color:white;
z-index:1;
position:relative;
}
.bg4{
background: #000 url('../img/bg-journey1-2.png') center center no-repeat; 
color:white;
z-index:2;
position:relative;
}
.bg5{
background: #000 url('../img/bg-journey1-2.png') center center no-repeat; 
color:white;
z-index:3;
position:relative;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}